log/*.log
tmp/**/*
tmp/*
sql/*
.DS_Store
public/cache/**/*
index/*
public/tests/*
vendor/rails/*
vendor/gems/*
public/uploads/*
test/fixtures/*
test/unit/*
config/database.yml
config/database.example
sql/
config/initializers/mailer.rb 
doc/plugins
db/schema.rb
db/data.yml
doc/api/*
public/photos
public/photos/*
public/uploaded_images
public/uploaded_images/*
export_devel.sql
parano_photos.tgz
gitadd.sh
public/javascripts/*packaged*
public/javascripts/philias_public.js
public/stylesheets/*packaged*
*Thumbs.db
export_all_*sql
public/sitemap1.xml.gz
public/sitemap_index.xml.gz
vendor/plugins/safe_dev_email/*
public/cache/*
public/demo_icons.html
public/demo_square.html
config/yc_config.yml