<h2><%= "Accès".t %></h2>
<div class="contentText">
	<%= google_search_map("Parano Nyon","Rue de la Morâche 5, 1260 nyon, Switzerland","map_infos") %>

	
</div>	
<div id="map_infos" style="display:none">
	<h4>Parano</h4>
	<%= image_tag('/images/parano_outside.jpg',:style=>'float:right') %>
	<p>Rue de Morâche 1,<br />
		1260 Nyon</p>
</div>