<p>
 <%= label_for('category','name') %>
   <%= f.text_field :name %>
 </p>


 <p>
<%= label_for('category','homepage') %>
   <%= f.check_box :homepage %>
 </p>
<p>
<%= label_for('category','agenda') %>
   <%= f.check_box :agenda %>
 </p>
 <p>
<%= label_for('category','member') %>
   <%= f.check_box :member %>
 </p>
