<div id="context_nav" class="context_edit">
<h2><%= "Edition menu".t %></h2>
<ul>
	<li><%= link_to ("pages".t,pages_path) %></li>
	<li><%= link_to ("images(editor)".t), editor_images_path %></li>
	<li><%= link_to ("marques".t), brands_path %></li>
<li><%= link_to ("articles cateogries".t), categories_path %></li>
<li><%= link_to ("articles".t), articles_path %></li>

</ul>


</div>