<div id="footer">
	<div id="footertop">&nbsp;</div>
	<div id="footercontent">
	<%= "Site concept, realisation and news feed".t %>: <a href="http://www.smarthub.ch" target="_blank"><img src="/images/smarthub_logo.jpg" alt="smartHUB.ch" width="73" height="24" border="0" /></a>| 	&copy;2008  All rights reserved</div>
	<div id="footerbottom"></div>
</div>