<%= stylesheet_link_merged CSS_PACKAGE %>
<!--[if IE]><link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/ie.css" /><![endif]-->
<!--[if lt IE 7]>
<script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
<![endif]-->